body {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

button {
  border: none;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding-top: 24px;
  margin-right: 76px;
}

.logo-color {
  color: #2e2f42;
}

.list-header {
  display: flex;
  gap: 40px;
  padding: 24px 0;
}

.link-header {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-header:hover {
  color: #404bbf;
}

.link-header:focus {
  color: #404bbf;
}

.contacts {
  font-style: normal;
}

.list-wrapper {
  display: flex;
  gap: 40px;
}

.list-contacts {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.list-contacts:hover {
  color: #404bbf;
}

.list-contacts:focus {
  color: #404bbf;
}

h1 {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
}

.title-section {
  background-color: #2e2f42;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 188px 0;
}

.title {
  text-align: center;
  letter-spacing: 0.02em;
}

.button-order {
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 169px;
  height: 56px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.button-order:hover {
  background-color: #404bbf;
}

.button-order:focus {
  background-color: #404bbf;
}

.caption {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.p-main {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
}

.section-features {
  height: 344px;
  display: flex;
}

.heading {
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: none;
}

.list-features {
  display: flex;
  gap: 24px;
  margin-top: 120px;
}

.item-features {
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.section-cards {
  background-color: #e7e9fc;
  height: 732px;
}

.title-team {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  padding-top: 120px;
  padding-bottom: 72px;
}

.list-team {
  display: flex;
  gap: 24px;
}

.item-team {
  background-color: #ffffff;
  width: 264px;
  height: 380px;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
}

.title-cards {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
}
.paragraph-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.headline-portfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin-bottom: 120px;
}

.paragraph-footer {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.title-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraph-portfolio {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  color: #f4f4fd;
  height: 312px;
}

.logo-color-footer {
  color: #f4f4fd;
}

.navigation-position {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
}

.footer-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 264px;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
